@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model ArmedCards.Web.Models.Game.Listing.Detail

@Html.HiddenFor(x => x.Game.GameID)
<h3>@Model.Game.Title</h3>
<div class="meta">
    @if(Model.Game.IsPrivate)
    {
	    <span title="Private game">Private</span>
    }	
    <span title="Points to win">@Model.Game.PointToWin points to win</span>
</div>
<div class="bar"></div>
<div class="meta">
    <p>Players: @Model.Game.PlayerCount / @Model.Game.MaxNumberOfPlayers</p>
    @foreach (GamePlayer player in Model.Game.Players)
    {
        <span class="playas">@player.User.DisplayName</span>
    }
</div>
<div class="bar"></div>
@*<div class="meta">
    <p>Decks:</p>
    <div class="otherDecks">
    @foreach (ACENT.Deck deck in Model.Game.Decks)
    {
        <span class="playas">@deck.Title</span>
    }
	</div>
</div>*@
@if(Model.Game.IsPrivate && !string.IsNullOrEmpty(Model.Game.Passphrase))
{
    <div class="passphrase">
	    <div class="fakeInput">
		    <input id="userSuppliedPassphrase" type="text" placeholder="Passphrase">
	    </div>
    </div>
    <div id="wrong" class="wrong">
	    Wrong!
    </div>
}
@if(Model.Game.PlayerCount < Model.Game.MaxNumberOfPlayers)
{
	<a id="detailDoIt" href="#" class="button">Do it!</a>
}
<a id="detailNope" href="#" class="button nope">Nope</a>
