@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model ArmedCards.Entities.Models.Game.Listing.Game

<a href="#" class="game" id="@Model.Value.GameID"><h3>@Model.Value.Title</h3>
    @if (Model.Value.IsPrivate)
    {
        <span title="Private game">Private</span>
    }
	<span class="playas"><span class="count">@Model.Value.PlayerCount / @Model.Value.MaxNumberOfPlayers</span> Players</span>
    @if (Model.Value.IsPersistent)
    {
        <span title="Users can close their browser or tab without leaving the game">Persistent</span>
    }
    @if (Model.Value.OfficialDeckCount == Model.MaxOfficialDecks)
    {
        <span title="All official decks will be dealt">All official decks</span>
    }
    else if(Model.Value.OfficialDeckCount == 1)
    {
        <span title="@Model.Value.OfficialDeckCount official decks will be dealt">@Model.Value.OfficialDeckCount official deck</span>
    }
    else
    {
        <span title="@Model.Value.OfficialDeckCount official decks will be dealt">@Model.Value.OfficialDeckCount official decks</span>
    }
</a>