@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model List<IGrouping<Int32, GameRoundCard>>

<div class="played winnerPicked">
	<p>Winner selected.</p>
	@foreach (IGrouping<Int32, GameRoundCard> group in Model)
	{
		ArmedCards.Entities.User player = group.First().PlayedBy;
		if (group.Count(x => x.Winner) > 0)
		{
			<div id="roundWinner" class="">
				<div class="user winningUser">
					<h3>Winner</h3>
					<a href="#" class="loggedIn">
						<img src="@player.PictureUrl">
						@group.First().PlayedBy.DisplayName
					</a>
					<p class="addPoints">+1 points</p>
				</div>
                @Html.Partial("~/Views/Game/Board/Answers/_MultiAnswers.cshtml", group.OrderBy(x => x.PlayOrder).ToList())
			</div>
		}
		else
		{
			<div>
                @Html.Partial("~/Views/Game/Board/Answers/_MultiAnswers.cshtml", group.OrderBy(x => x.PlayOrder).ToList())
				<div class="user losingUser" style="opacity:0;">
					<a href="#" class="loggedIn">
						<img src="@player.PictureUrl">
						@group.First().PlayedBy.DisplayName
					</a>
				</div>
			</div>
		}
	}
</div>  